.cart-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.cart-item img{
    border-radius: 40px;
    height: 40px;
    width: 40px;
    margin: 0px 10px;
}