.cart-item{
    border-radius: 5px;
    background-color:fuchsia;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 5px;
}
.cart-item img{
    border-radius: 40px;
    height: 40px;
    width: 40px;
    margin: 0px 10px;
}