.header{
    width: 100%;
    color: rgb(79, 108, 236);
    background-color: bisque;
    padding: 5px;
}
.header h2{
    margin-bottom: 2px;
}
.header h3{
    margin-top: 0px;
    font-family:cursive;
    font-weight: 400;
}